.bigshow{
    background-color: pink;
}



.header{  
    color: white;
}
/* .nav{
    background-color: pink;
   
    
} */
/* .nav li{
    display: important inline;
    
} */
.nav-link{
    color:black;
   
}

.jumbotron{
    margin-bottom: 0rem;
}